@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-block-title">FitHub</div>
<div class="content-block">
    <div class="row">
        <div class="col-50"><img style="max-width:200px;" src="~/Images/exercises.png" /></div>
        <div class="col-50"><img style="max-width:200px;" src="~/Images/cardio.png" /></div>
    </div>
    <div class="row">
        <div class="col-50"><img style="max-width:200px;" src="~/Images/weights.png" /></div>
        <div class="col-50"><img style="max-width:200px;" src="~/Images/stats.png" /></div>
    </div>
</div>