@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-block-title">FitHub</div>
<div class="content-block">
  
    <div class="row">
        
            <div class="col-50">
                <a href="~/Workouts/index"> <img style="max-width:100%;" src="~/Images/exercises.png" /></a>
</div>
        
        <div class="col-50"><img style="max-width:100%;" src="~/Images/cardio.png" /></div>
    </div>
    <div class="row">
        <div class="col-50"><img style="max-width:100%;" src="~/Images/weights.png" /></div>
        <div class="col-50"><img style="max-width:100%;" src="~/Images/stats.png" /></div>
    
    </div>
</div>
