@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid2x2">
    <div class="box box1"><div><img src="~/Images/exercises.png" /></div></div>
    <div class="box box2"><div><img src="~/Images/cardio.png" /></div></div>
    <div class="box box3"><div><img src="~/Images/weights.png" /></div></div>
    <div class="box box4"><div><img src="~/Images/stats.png" /></div></div>
</div>