@model IEnumerable<FitHub.Models.WorkoutPlan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWorkOutTabs.cshtml";
}


    <!-- Buttons row as tabs controller -->
    <div class="buttons-row">
        <!-- Link to 1st tab, active -->
        <a href="#tab1" class="tab-link active button">My Workouts</a>
        <!-- Link to 2nd tab -->
        <a href="#tab2" class="tab-link button">All Workouts</a>
        <!-- Link to 3rd tab -->
        
    </div>

<!-- Tabs, tabs wrapper -->
<div class="tabs">
    <!-- Tab 1, active by default -->
    <div id="tab1" class="tab active">
        <div class="content-block">
           @foreach (var w in Model)
{
    <div class="card demo-card-header-pic">
        <div style="background-image:url('https://wallpapertag.com/wallpaper/full/9/2/7/448118-bodybuilding-wallpaper-hd-2017-1920x1200-download-free.jpg');" valign="bottom" class="card-header color-white no-border">@w.Title</div>
        <div class="card-content">

        </div>
        <div class="card-footer">
            <p>jhg</p>
            <p>tytt</p>
            <p>test</p>
            <p>tytt</p>
        </div>
    </div>
}
           
        </div>
    </div>
    <!-- Tab 2 -->
    <div id="tab2" class="tab">
        <div class="content-block">
           @foreach (var w in Model)
           {
            <div class="card demo-card-header-pic">
                <div style="background-image:url('https://wallpapertag.com/wallpaper/full/9/2/7/448118-bodybuilding-wallpaper-hd-2017-1920x1200-download-free.jpg');" valign="bottom" class="card-header color-white no-border">@w.Title</div>
                <div class="card-content">

                </div>
                <div class="card-footer">
                    <p>jhg</p>
                    <p>tytt</p>
                    <p>test</p>
                    <p>tytt</p>
                </div>
            </div>
           }
          
        </div>
    </div>
  
</div>



